{% extends "base.html" %}
{% load humanize %}
{% block content %}
    <h1>Task Management -  <a href="{% url 'create_task' %}" class="btn btn-primary"><i class="bi bi-plus-circle-fill"></i></a></h1>
    <hr>
    <h5>Tasks Created</h5>
    {% if tasks_created %}
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Due Date</th>
                <th>Completed</th>
                <th>Task Owner</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for task in tasks_created %}
                <tr>
                    <td>{{ task.title }}</td>
                    <td>{{ task.description }}</td>
                    <td>{{ task.due_date }}</td>
                    <td>{{ task.completed }}</td>
                    <td>{{ task.owner }}</td>
                    <td>
                        <a href="{% url 'edit_task' task.id %}" class="btn btn-info">Edit</a>
                        <a href="{% url 'delete_task' task.id %}" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>You have not created any tasks yet!</p>
    {% endif %}
    <h5>Tasks To Do</h5>
    {% if  tasks_owned_incomplete %}
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Due Date</th>
                <th>Task Creator</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for task in tasks_owned_incomplete %}
                <tr {% if task.due_date < now and not task.completed  %}class="table-danger"{% endif %}>
                    <td>{{ task.title }}</td>
                    <td>{{ task.description }}</td>
                    <td>{{ task.due_date | naturaltime }}</td>
                    <td>{{ task.creator }}</td>
                    <td>
                        <a href="{% url 'mark_task_complete' task.id %}" class="btn btn-success"><i class="bi bi-check"></i></a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p><i class="bi bi-stars"></i> Hooray! All your tasks are complete! <i class="bi bi-stars"></i></p>
    {% endif %}
    <h5>Tasks Done</h5>
    {% if tasks_owned_complete %}
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Due Date</th>
                <th>Creator</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for task in tasks_owned_complete %}
                <tr>
                    <td>{{ task.title }}</td>
                    <td>{{ task.description }}</td>
                    <td>{{ task.due_date | naturaltime }}</td>
                    <td>{{ task.creator }}</td>
                    <td>
                        <a href="{% url 'mark_task_incomplete' task.id %}" class="btn btn-warning"><i class="bi bi-x"></i></a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p><i class="bi bi-hammer"></i> There are no tasks done yet! <i class="bi bi-wrench"></i></p>
    {% endif %}
{% endblock %}