{#  List user events with options to edit or delete #}
{% extends "base.html" %}

{% block content %}
    <h1>My Events</h1>
    <table class="table">
        <thead>
        <tr>
            <th>Title</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Location</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for event in events %}
            <tr>
                <td>{{ event.title }}</td>
                <td>{{ event.start_time }}</td>
                <td>{{ event.end_time }}</td>
                <td>{{ event.description }}</td>
                <td>
                    <a href="{% url 'edit_event' event.id %}" class="btn btn-primary">Edit</a>
                    <a href="{% url 'delete_event' event.id %}" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'add_event' %}" class="btn btn-primary">Add Event</a>
{% endblock %}